.chat-side
  .chat-header
    .main_header_left-box
      %h2.main_header_left-box-current_group 
        = @group.name
      
      %ul.main_header_left-box-member-list
        Member:
        - @group.users.each do |user|
          =user.name
          
    = link_to edit_group_path(@group) do
      .main_header-edit_btn Edit
  .chat-main
    .messages
      = render @messages
      
  .footer
    = form_for [@group, @message] do |f|
      .input-box 
        = f.text_field :content, class: 'input-box_text', placeholder: 'type a message'
        .input-box__image
          =f.label :image, class: 'far fa-image' do
            =f.file_field :image, class: 'message-file'
      = f.submit class: 'submit-btn' ,name: "commit",value: "Send"
  