.side-bar
  .side-header
    .side-header__box
      %p.side-header__box_user_name
        = current_user.name
      %ul.side-header__box_menu
        %li.side-header_box_edit-user
          = link_to new_group_path do
            = icon('fas', 'edit')
        %li.side-header__box_new-group
          = link_to edit_user_path(current_user) do      
            = icon('fas', 'cog', class: 'icon')
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          %p.group__group-name
            = group.name
          %p.group__latest-massage
            = group.show_last_message


